<div class="ui container">
  <h2>Iniciar sesión</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "ui form attached fluid segment"}) do |f| %>

    <div class="field">
      <%= f.label :email %>
      <div class="ui left icon input">
        <%= f.email_field :email, autofocus: true %>
        <i class="users icon"></i>
      </div>
    </div>

    <div class="field">
      <%= f.label :contraseña %>
      <div class="ui left icon input">
        <%= f.password_field :password, autocomplete: "off" %>
        <i class="lock icon"></i>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <div class="ui checkbox">
          <%= f.check_box :remember_me, class: "hidden" %>
          <%= f.label :recuerdame %>
        </div>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Iniciar sesión", class: "ui blue submit button" %>
    </div>

  <% end %>

  <%= render "users/shared/links" %>

</div>
