<div class="ui container">
  <h1>Lista de reseñas</h1>
    <% if current_user %>
      <%= link_to "Nueva reseña", new_libro_path, class: "ui green button" %>
    <% end %>
  <div class="ui relaxed divided items">
    <% @libros.each do |libro| %>
      <div class="item">
        <div class="ui small image">
          <%= image_tag libro.imagen.url(:medium) %>
        </div>
        <div class="content">
          <%= link_to libro.titulo, libro, class: "header" %>,
          <%= libro.autor%>
          <div class="meta">
            <a><%= libro.created_at.strftime("%b %d %Y, %H:%M") %></a>
          </div>
          <div class="description">
            <%= truncate(libro.descripcion, length:500) %>
          </div>
          <div class="extra">
            <%= libro.user.email %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
